@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/EquipmentInventory/Item/_ItemTabLayout.cshtml";
}
    <link rel="stylesheet" href="~/css/ItemTab/Department/DepartmentDashBoard.css" />
<style>
     .footer_logo {
    background-repeat: no-repeat, repeat;
    background-size: 25%;
    background-position: left center;
    background-image: url('../Resources/logo3.png');
}
</style>

<div class="index_headerArea">
    <h4>Department</h4>
</div>

<div class="index_cardArea">

    <div class="menu_card grid-col1 grid_row1">
        <div class="menu_card_div1 grid-col1 grid_row1">
            <div class="menu_card_div1_1" style=" background-image: url('../Resources/user_Icon.png'); ">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Assign To</h6>
        </div>

    </div>

    <div class="menu_card grid_col2 grid_row1">
        <div class="menu_card_div1 sgrid_col1 grid_row1">
            <div class="menu_card_div1_1" style="background-image: url('../Resources/UserUpdate_Icon.png');">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Un-assign From</h6>
        </div>

    </div>

    <div class="menu_card grid_col3 grid_row1">
        <div class="menu_card_div1 sgrid_col1 grid_row1">
            <div class="menu_card_div1_1" style="background-image: url('../Resources/UserUpdate_Icon.png');">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Damage Item</h6>
        </div>

    </div>

    <div class="menu_card grid_col4 grid_row1">
        <div class="menu_card_div1 sgrid_col1 grid_row1">
            <div class="menu_card_div1_1" style="background-image: url('../Resources/UserUpdate_Icon.png');">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Lost Item</h6>
        </div>

    </div>




</div>