################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EquipmentInventory/.vs/EquipmentInventory/v16/Server/sqlite3
