@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/EquipmentInventory/Employee/_EmployeeTabLayout.cshtml";
}
<link rel="stylesheet" href="~/css/EmployeeTab/ManageEmployee/EmployeeMangementDashBoard.css"/>
<style>
    .menu_card:hover {
        background: #7ca9fc;
    }

    .menu_card:hover h6 {
        background: #7ca9fc;
        color:white;
        font-size: 14pt;
    }

    .footer_logo {
    background-repeat: no-repeat, repeat;
    background-size: 25%;
    background-position: left center;
    background-image: url('Resources/logo3.png');
}
</style>

<div class="index_headerArea">
    <h4 >Employee Management</h4>
</div>

<div class="index_cardArea">

    <div id="card" class="menu_card grid-col1 grid_row1">
        <div class="menu_card_div1 grid-col1 grid_row1">
            <div class="menu_card_div1_1" style=" background-image: url('Resources/user_Icon1.png'); ">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Register Employee</h6>
        </div>

    </div>

    <div class="menu_card grid_col2 grid_row1">
        <div class="menu_card_div1 sgrid_col1 grid_row1">
            <div class="menu_card_div1_1" style="        background-image: url('Resources/UserUpdate_Icon1.png');
">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Update Information</h6>
        </div>

    </div>

    <div class="menu_card grid_col3 grid_row1" >
        <div class="menu_card_div1 grid_col1 grid_row1">
            <div class="menu_card_div1_1" style="background-image: url('Resources/UserRemove_Icon1.png');">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Remove Employee</h6>
        </div>

    </div>

    <div class="menu_card grid_col4 grid_row1">
        <div class="menu_card_div1 grid_col1 grid_row1">
            <div class="menu_card_div1_1" style="background-image: url('Resources/UserReinstate_Icon1.png');">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Re-Instate Employee</h6>
        </div>

    </div>
</div>

<!-- <div style="-ms-grid-column: 1; -ms-grid-row: 1;
          display: grid;
          grid-template-columns: 230px 230px 230px 230px;
          grid-template-rows: 250px 250px 250px;
          padding-left: 20px;padding-top: 50px;

          display: -ms-grid;
          -ms-grid-columns:  200px 200px 200px 200px;
          -ms-grid-rows: 250px 250px 250px;
          ">
     <div style="background: yellow;-ms-grid-column: 1;-ms-grid-row: 1;margin-right: 30px;"></div>
     <div style="background: yellow;-ms-grid-column: 2;-ms-grid-row: 1;margin-right: 30px;"></div>
     <div style="background: yellow;-ms-grid-column: 3;-ms-grid-row: 1;margin-right: 30px;"></div>
     <div style="background: yellow;-ms-grid-column: 4;-ms-grid-row: 1;margin-right: 30px;"></div>

 </div>-->
<!--   <div id="jsGrid"></div>
<script>
    var clients = [
        { "Name": "Otto Clay", "Age": 25, "Country": 1, "Address": "Ap #897-1459 Quam Avenue", "Married": false },
        { "Name": "Connor Johnston", "Age": 45, "Country": 2, "Address": "Ap #370-4647 Dis Av.", "Married": true },
        { "Name": "Lacey Hess", "Age": 29, "Country": 3, "Address": "Ap #365-8835 Integer St.", "Married": false },
        { "Name": "Timothy Henson", "Age": 56, "Country": 1, "Address": "911-5143 Luctus Ave", "Married": true },
        { "Name": "Ramona Benton", "Age": 32, "Country": 3, "Address": "Ap #614-689 Vehicula Street", "Married": false }
    ];

    var countries = [
        { Name: "", Id: 0 },
        { Name: "United States", Id: 1 },
        { Name: "Canada", Id: 2 },
        { Name: "United Kingdom", Id: 3 }
    ];

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        inserting: true,
        editing: true,
        sorting: true,
        paging: true,

        data: clients,

        fields: [
            { name: "Name", type: "text", width: 150, validate: "required" },
            { name: "Age", type: "number", width: 50 },
            { name: "Address", type: "text", width: 200 },
            { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
            { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
            { type: "control" }
        ]
    });
</script>-->
