@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/EquipmentInventory/Item/_ItemTabLayout.cshtml";
}


<h2 style="font-size: 2rem;font-weight: normal">Index</h2>

<p>Hello from our every won View Template!</p>