* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 50px 500px 1fr 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 500px 1fr 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 200px 600px 1fr 250px;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: 200px 600px 1fr 250px;
    grid-template-rows: 1fr;
}

header .grid_brand {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding-top: 10px;
    font-size: 13pt;
}

header .grid_nav_bar {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

header .flex_column {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

header .grid_admin_info {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr 50px;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr;
}

.grid_admin_info_div1 {
    text-align: right;
    -ms-grid-column: 1;
    -ms-grid-row:1;
}

.grid_admin_info_div1_1 {
    font-size: 11pt;
    padding-top: 10px;
    padding-right: 10px;
}

.grid_admin_info_div1_1 {
    font-size: 8pt;
    padding-right: 10px;
    line-height: 1;
}

.grid_admin_info_div2 {
    -ms-grid-column: 2;
    -ms-grid-row:1;
}

.grid_admin_info_div2_1 {
    position: relative; 
    top: 15px;
    left: 10px;
    cursor: pointer;
    display: inline-block;
    
}

    .grid_admin_info_div2_1 i {
        font-size: 16pt;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 11pt;
    }

header li {
    float: left;
}

header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    color: red
}

.div_container {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    display: -ms-grid;
    -ms-grid-columns: 200px 1000px 1fr;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: 200px 1000px 1fr;
    grid-template-rows: 1fr;
}

.div_row_flex {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    display: -ms-grid;
    -ms-grid-columns: 200px 1000px 1fr;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: 200px 1000px 1fr;
    grid-template-rows: 1fr;
}

.div_container .side_bar {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background: #7386D5;
}

.side_bar_1 {
    color: #222740;
    font-size: 15pt;
    background: #5c6bab;
    padding: 10px 0px;
    text-align:center;
    font-weight: bolder;
    text-shadow: 0px 1px 0px rgba(120, 138, 227, .5);
}

.main_container {
    -ms-grid-column:2;
    -ms-grid-row: 1;
}


.div_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 11pt;
}

.div_container li a {
    display: block;
    color: aliceblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

    .div_container li a:hover {
        background: #343a40;
    }

.div_row_flex .side_bar {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background: #7386D5;
}

       .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        .box-shadow-card {
            box-shadow: 0 .25rem 2rem rgba(0, 0, 0, .05);
        }

        .box-shadow-card2 {
            box-shadow: 10 .25rem .50rem rgba(0, 0, 0, .95);
        }
header li a i {
    padding-right: 10px;
    font-size: 14pt;
    color: #3B5957;
    text-shadow: 0px 1px 0px #343a40;
}

footer {
    -ms-grid-column: 1;
    -ms-grid-row: 4;

    display: grid;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 100px 350px 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 350px 1fr
}

.footer_logo {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    background-repeat: no-repeat, repeat;
    background-size: 25%;
    background-position: left center;
    background-image: url('/Resources/logo3.png?v=1234');
}

.footer_dev {
    padding: 10px 0px 0px 10px;
}

.grid_col1 {
    -ms-grid-column: 1;
    grid-column: 1;
}

.grid_row1 {
    -ms-grid-row: 1;
    grid-row: 1;
}

.grid_col2 {
    -ms-grid-column: 2;
    grid-column: 2;
}

.grid_row2 {
    -ms-grid-row: 2;
    grid-row: 2;
}


.grid_col3 {
    -ms-grid-column: 3;
    grid-column: 3;
}

.grid_row3 {
    -ms-grid-row: 3;
    grid-row: 3;
}

.grid_col4 {
    -ms-grid-column: 4;
    grid-column: 4;
}

.grid_row4 {
    -ms-grid-row: 4;
    grid-row: 4;
}


      
