<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EquipmentInventory</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jsgrid/jsgrid.min.js"></script>
    <link rel="stylesheet" href="~/lib/jsgrid/jsgrid-theme.min.css" />
    <link rel="stylesheet" href="~/lib/jsgrid/jsgrid-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header class="border-bottom box-shadow">
        <div class="grid_brand">
            Equipment Inventory
        </div>
        <div class="grid_nav_bar">
            <ul>
                <li><a class="active" asp-area="" asp-controller="Employee" asp-action="Index"><i class="fas fa-user"></i>Employee</a></li>
                <li><a asp-area="" asp-controller="Item" asp-action="Index"><i class="fas fa-box-open"></i> Item Management</a></li>
                <li><a asp-area="" asp-controller="Settings" asp-action="Index"><i class="fas fa-tools"></i> Settings</a></li>
            </ul>
        </div>
        <div class="flex_column"></div>
        <div class="grid_admin_info">
            <div class="grid_admin_info_div1">
                <div class="grid_admin_info_div1_1">Jasper Arvin L. Abella</div>
                <div class="grid_admin_info_div1_2">I.D. No.: 00000001</div>
            </div>
            <div class="grid_admin_info_div2">
                <div class="grid_admin_info_div2_1" title="Logout">
                    <i class="fas fa-sign-out-alt">
                    </i>
                </div>
            </div>
        </div>

    </header>

    <div class="div_container">
        <div class="side_bar">
            <div class="side_bar_1">
                Employee
            </div>

            <ul>
                <li><a asp-area="" asp-controller="Employee" asp-action="Index">Manage Employee</a></li>
                <li><a asp-area="" asp-controller="Employee" asp-action="Department">Department</a></li>
            </ul>
        </div>
        <div class="main_container">
            @RenderBody()
        </div>
    </div>

    <div class="div_row_flex">
        <div class="side_bar">

        </div>
    </div>

    <footer class="border-top">
        <div class="footer_dev"><span>Powerd by:</span></div>
        <div class="footer_logo"></div>
    </footer>


</body>
</html>
