@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/EquipmentInventory/Employee/_EmployeeTabLayout.cshtml";
}
<link rel="stylesheet" href="~/css/EmployeeTab/Department/DepartmentDashBoard.css"/>
<style>
    .footer_logo {
    background-image: url('../Resources/logo3.png');
    }

</style>

<div class="index_headerArea">
    <h4 >Department</h4>
</div>

<div class="index_cardArea">

    <div class="menu_card grid-col1 grid_row1" onclick="forwardPage()">
        <div class="menu_card_div1 grid-col1 grid_row1">
            <div class="menu_card_div1_1" style=" background-image: url('../Resources/employeeAssignDepartment_Icon.png'); ">
            </div>
        </div>
        <div class="menu_card_div2 grid_col1 grid_row2">
            <h6>Assign Department</h6>
        </div>

    </div>

   
</div>
<script>
    function forwardPage() {
        window.location.href = '@Url.Action("empAssignToDept", "Employee")';
    }
</script>
