@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/EquipmentInventory/Employee/_EmployeeTabLayout.cshtml";

}
<link rel="stylesheet" href="~/css/EmployeeTab/Department/empAssignToDepartment.css" />
<style>
   


</style>
<div class="page_container_div">
    <div class="grid_row1 grid_col1 page_title">
        <div class="grid_col1 grid-row1" style="background: green"></div>
        <div class="grid_col2 grid-row1"></div>
        <div class="grid_col3 grid-row1" style="background: green"></div>
    </div>

    <div class="grid_row2 grid_col1 page_level_div">
        <div class="grid_col1 grid-row1" style="background: red"></div>
        <div class="grid_col2 grid-row1"></div>
        <div class="grid_col3 grid-row1" style="background: red"></div>
    </div>

    <div class="grid_row3 grid_col1 page_level_search" >
        <div class="grid_col1 grid-row1" style="background: yellow"></div>
        <div class="grid_col2 grid-row1"></div>
        <div class="grid_col3 grid-row1" style="background: yellow"></div>
    </div>

    <div class="grid_col1 grid_row4 div_grid_container">
        <div >
            <div id="jsGrid" style="-ms-grid-column:1; -ms-grid-row: 1;"></div>
        </div>

        <div style="-ms-grid-column:2; -ms-grid-row: 1;"></div>
        
        <div style="-ms-grid-column:3; -ms-grid-row: 1;">
            <div id="jsGrid2"></div>
        </div>

    </div>
</div>

<script>
    var clients = [
        { "Id": 25,"Name": "Otto Clay","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Connor Johnston","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Lacey Hess","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Timothy Henson","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Ramona Benton","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Otto Clay","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Connor Johnston","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Lacey Hess","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Timothy Henson","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Ramona Benton","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Otto Clay","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Connor Johnston","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Lacey Hess","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Timothy Henson","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Ramona Benton","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Otto Clay","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Connor Johnston","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Lacey Hess","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Timothy Henson","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Ramona Benton","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Otto Clay","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Connor Johnston","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Lacey Hess","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Timothy Henson","HireDate":"08/30/1981" },
        { "Id": 25,"Name":"Ramona Benton","HireDate":"08/30/1981" }
    ];

   

    $("#jsGrid").jsGrid({
        height: "440px",
        width: "100%",
        filtering: false,
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        rowNum: 9999,
        pageSize: 6,
        data: clients,

        fields: [
            { name: "Selected", type: "checkbox", width: 20, title: ""},
            { name: "Id", type: "text", width: 65, validate: "required" },
            { name: "Name", type: "number", width: 220,align: "left" },
            { name: "HireDate", type: "Date",align: "center", width: 220 },
            
        ]
    });

    $("#jsGrid2").jsGrid({
        height: "440px",
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        rowNum: 9999,
        pageSize: 6,
        data: clients,

        fields: [
            { name: "Id", type: "text", width: 85},
            { name: "Name", type: "number", width: 220 },
            { name: "HireDate",type: "Date", width: 220,  align: "center" },

        ]
    });


   
</script>

